node_modules
.DS_Store
dist
*.local
thumbs.db

.eslintcache
out
*.log*
.angular

# IDEs
.idea
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
Thumbs.db

# VSCode (external repository)
vscode
