.dark-high-contrast {
  --md-sys-color-primary: rgb(255 249 251);
  --md-sys-color-surface-tint: rgb(154 204 250);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(154 204 250);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 251);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(184 200 218);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 251);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(210 191 231);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(255 249 251);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(255 249 251);
  --md-sys-color-outline: rgb(154 160 168);
  --md-sys-color-outline-variant: rgb(154 160 168);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 69 107);
  --md-sys-color-primary-fixed: rgb(205 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(154 204 250);
  --md-sys-color-on-primary-fixed-variant: rgb(0 18 32);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(8 23 36);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(210 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 1 31);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 57 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
