.dark-medium-contrast {
  --md-sys-color-primary: rgb(159 209 255);
  --md-sys-color-surface-tint: rgb(154 204 250);
  --md-sys-color-on-primary: rgb(0 21 35);
  --md-sys-color-primary-container: rgb(115 161 202);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(189 205 223);
  --md-sys-color-on-secondary: rgb(8 23 36);
  --md-sys-color-secondary-container: rgb(141 156 171);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(215 196 237);
  --md-sys-color-on-tertiary: rgb(14 1 31);
  --md-sys-color-tertiary-container: rgb(166 147 187);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(215 120 111);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(250 249 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(199 205 212);
  --md-sys-color-outline: rgb(159 165 173);
  --md-sys-color-outline-variant: rgb(127 133 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(33 37 42);
  --md-sys-color-inverse-primary: rgb(22 81 118);
  --md-sys-color-primary-fixed: rgb(205 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(154 204 250);
  --md-sys-color-on-primary-fixed-variant: rgb(0 26 42);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(3 18 31);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(210 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 0 25);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 57 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
