:root {
  /* Motion durations */
  --md-sys-motion-duration-fast: 250ms; /* small elements */
  --md-sys-motion-duration-default: 400ms; /* medium (cards, dialogs) */
  --md-sys-motion-duration-slow: 600ms; /* large surfaces */
  --md-sys-motion-speed-1: 100ms;
  --md-sys-motion-speed-2: 200ms;
  --md-sys-motion-speed-3: 300ms;
  --md-sys-motion-speed-4: 400ms;

  /* Motion easings */
  --md-sys-motion-easing-spatial-expressive: cubic-bezier(0.175, 0.885, 0.32, 1.35);
  --md-sys-motion-easing-spatial-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-effects: cubic-bezier(0.4, 0, 0.2, 1);
}
