.dashboard-sidebar {
  position: relative;
  display: none;
  flex-direction: column;
  min-height: 100svh;
  min-width: 4rem;
  width: var(--width);
  flex-shrink: 0;

  @media (min-width: 1024px) {
    display: flex;
  }

  &--side-left {
    border-inline-end: 1px solid var(--color-border);
  }

  &__header {
    height: var(--ui-header-height);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__toggle {
    &--toggle-side-right {
      margin-inline-start: auto;
    }
  }

  &__handle {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &__content,
  &__overlay {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  // Menu variants
  &__header--menu {
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__body--menu {
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__footer--menu {
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
