# Compiled output
/dist
/out-tsc
*.js
*.js.map

# Dependencies
node_modules

# Angular
/.angular
.sass-cache

# Electron
app/main.js
app/main.js.map

# UnoCSS
uno.css

# System Files
.DS_Store
Thumbs.db
