:root {
  --ui-radius: 0.25rem;
  --ui-header-height: 4rem;
  --ui-container: 80rem;

  --color-default: #374151;
  --color-dimmed: #9ca3af;
  --color-muted: #6b7280;
  --color-toned: #4b5563;
  --color-highlighted: #111827;
  --color-inverted: #ffffff;

  --color-bg-default: #ffffff;
  --color-bg-muted: #f9fafb;
  --color-bg-elevated: #f3f4f6;
  --color-bg-elevated-rgb: 243, 244, 246;
  --color-bg-accented: #e5e7eb;
  --color-bg-inverted: #111827;
  --color-bg-inverted-rgb: 17, 24, 39;
  --color-accented-rgb: 209, 213, 219;

  --color-border: #e5e7eb;
  --color-border-muted: #e5e7eb;
  --color-border-accented: #d1d5db;
  --color-border-inverted: #111827;
  --color-accented: #d1d5db;

  --color-primary: #3b82f6;
  --color-primary-rgb: 59, 130, 246;
  --color-error: #ef4444;
  --color-error-rgb: 239, 68, 68;
  --color-success: #22c55e;
  --color-success-rgb: 34, 197, 94;
  --color-warning: #f59e0b;
  --color-warning-rgb: 245, 158, 11;
  --color-info: #3b82f6;
  --color-info-rgb: 59, 130, 246;
}

.dark {
  --color-default: #e5e7eb;
  --color-dimmed: #6b7280;
  --color-muted: #9ca3af;
  --color-toned: #d1d5db;
  --color-highlighted: #ffffff;
  --color-inverted: #111827;

  --color-bg-default: #111827;
  --color-bg-muted: #1f2937;
  --color-bg-elevated: #1f2937;
  --color-bg-elevated-rgb: 31, 41, 55;
  --color-bg-accented: #374151;
  --color-bg-inverted: #ffffff;
  --color-bg-inverted-rgb: 255, 255, 255;
  --color-accented-rgb: 55, 65, 81;

  --color-border: #1f2937;
  --color-border-muted: #374151;
  --color-border-accented: #374151;
  --color-border-inverted: #ffffff;
  --color-accented: #374151;
}
