:root {
  --bard-color-neutral-90: #37393b;
  --bard-color-neutral-95: #2a2a2a;
  --bard-color-neutral-96: #0e0e0f;
  --bard-color-enterprise-greeting: #474747;
  --bard-color-custom-primary-container: #222327;
  --bard-color-surface-tint: #d1e1ff;
  --bard-color-tertiary-60: #1ea446;
  --bard-color-surface-3-opacity-11: rgba(209,225,255,0.1098039216);
  --bard-color-surface-5-opacity-14: rgba(209,225,255,0.1411764706);
  --bard-color-footer-background: #202124;
  --bard-color-draft-chip-background: #303030;
  --bard-color-sidenav-background-desktop: var(--gem-sys-color--surface-container);
  --bard-color-sidenav-background-mobile: var(--gem-sys-color--surface-container);
  --bard-color-inverse-primary-background: #fff;
  --bard-color-response-container-flipped-background: #222327;
  --bard-color-sos-footer: #ababab;
  --bard-color-code-comment: #80868b;
  --bard-color-code-variables: #f28b82;
  --bard-color-code-literal: #fa903e;
  --bard-color-code-class: #fdd663;
  --bard-color-code-string: #81c995;
  --bard-color-code-quotes-and-meta: #8ab4f8;
  --bard-color-code-keyword: #c58af9;
  --bard-color-code-chip-foreground: #f0c6ff;
  --bard-color-code-chip-background: #4c2271;
  --bard-color-code-chip-background-selected: #8430ce;
  --bard-color-continue-chat-discovery-tooltip-button-text: #d3e3fd;
  --bard-color-fact-check-tooltip-entailed-highlight: rgba(68,194,101,0.25);
  --bard-color-fact-check-tooltip-entailed-selected: #00522c;
  --bard-color-fact-check-tooltip-contradictory-highlight: rgba(255,125,65,0.25);
  --bard-color-fact-check-tooltip-contradictory-selected: #753403;
  --bard-color-fact-check-button-complete: #282a2c;
  --bard-color-fact-title: #80da88;
  --bard-color-fact-title-invalid: #ffb683;
  --bard-color-recitation-background: rgba(118,172,255,0.25);
  --bard-color-tooltip-box-shadow: rgba(60,64,67,0.16);
  --bard-color-sentence-prefix-color: #fff;
  --bard-color-sentence-words-color: #80868b;
  --bard-color-image-overlay-background: rgba(60,64,67,0.75);
  --bard-color-pup-banner: #fdd663;
  --bard-color-share-link: #a8c7fa;
  --bard-color-strong-focus-indicator: #fff;
  --bard-color-inverse-strong-focus-indicator: #000;
  --bard-color-tool-fuse-background-left: #222327;
  --bard-color-tool-fuse-background-middle: #161c25;
  --bard-color-tool-fuse-background-right: #222327;
  --bard-color-tool-fuse-foreground-left: #3b475b;
  --bard-color-tool-fuse-foreground-middle: #4a5a73;
  --bard-color-tool-fuse-foreground-right: #4a4c67;
  --bard-color-bard-avatar-v2-basic-circle-stop-1: #9168c0;
  --bard-color-bard-avatar-v2-basic-circle-stop-2: #5684d1;
  --bard-color-bard-avatar-v2-basic-circle-stop-3: #1ba1e3;
  --bard-color-bard-avatar-v2-advanced-circle-stop-1: #9e72ba;
  --bard-color-bard-avatar-v2-advanced-circle-stop-2: #d65c67;
  --bard-color-bard-avatar-v2-advanced-circle-stop-3: #d6635c;
  --bard-color-icon-separator: #7a7a7a;
  --bard-color-chrome-experiment-badge: #a8c7fa;
  --bard-color-onegooglebar-product-controls: rgba(255,255,255,0.87);
  --bard-color-share-title-card-border: #8e918f;
  --bard-color-share-selected-title-card-border: #0b57d0;
  --bard-color-share-social-media-icon-focus: #131314;
  --bard-color-share-social-media-icon-background: #43474e;
  --bard-color-form-field-outline: #bdc1c6;
  --bard-color-form-field-outline-active: #8ab4f8;
  --bard-color-form-field-outline-hover: #f8f9fa;
  --bard-color-form-field-placeholder: #bdc1c6;
  --bard-color-zero-state-card-selected: #3b4456;
  --bard-color-zero-state-prompt-chip-background: #3b4456;
  --bard-color-zero-state-prompt-chip-text: #aec6f6;
  --bard-color-processing-animation-color-1: #474747;
  --bard-color-processing-animation-color-2: #131314;
  --bard-color-onhover-conversation-metadata-button-v2: #37393b;
  --bard-color-new-conversation-button: #282a2c;
  --bard-color-on-new-conversation-button: #e3e3e3;
  --bard-color-icon-container-background: #000;
  --bard-color-bot-power-up-button-background: #303030;
  --bard-color-bot-onboarding-banner-bg-step-1: rgba(33,123,254,0.3);
  --bard-color-bot-onboarding-banner-bg-step-2: rgba(7,142,251,0.3);
  --bard-color-bot-onboarding-banner-bg-step-3: rgba(172,135,235,0.3);
  --bard-color-bot-onboarding-banner-bg-step-4: rgba(238,77,93,0.3);
  --bard-color-bot-logo-bg-default: #191d1c;
  --bard-color-bot-logo-text-default: #a9acaa;
  --bard-color-bot-logo-border-default: #5c5f5e;
  --bard-color-lightbox-background: #000;
  --bard-color-image-lightbox-text: #ababab;
  --bard-color-image-placeholder-background: #35383b;
  --bard-color-chart-highlighted-background: #e9eef6;
  --bard-color-skeleton-loader-background-1: #1e1f20;
  --bard-color-skeleton-loader-background-2: #333537;
  --bard-color-skeleton-loader-background-3: #487fed;
  --bard-color-skeleton-loader-background-alt-1: #1e1f20;
  --bard-color-skeleton-loader-background-alt-2: #543a52;
  --bard-color-skeleton-loader-background-alt-3: #d96570;
  --bard-color-skeleton-loader-background-grayscale-1: #161617;
  --bard-color-skeleton-loader-background-grayscale-2: #35383b;
  --bard-color-skeleton-loader-background-grayscale-3: #1e1f20;
  --bard-color-gallery-separator-line: #e1e3e1;
  --bard-color-gallery-image-card-text: #fff;
  --bard-color-brand-text-gradient-stop-1: #4285f4;
  --bard-color-brand-text-gradient-stop-2: #9b72cb;
  --bard-color-brand-text-gradient-stop-3: #d96570;
  --bard-color-brand-text-gradient-v2-stop-1: #3983ff;
  --bard-color-brand-text-gradient-v2-stop-2: #3e6af0;
  --bard-color-brand-text-gradient-v2-stop-3: #579fff;
  --bard-color-input-area-buttons-hover-background: #e8eaed;
  --bard-color-sidenav-mobile-controls: #e3e3e3;
  --bard-color-sidenav-scrim: rgba(19,19,20,0.4);
  --bard-color-get-app-banner-background: #004a77;
  --bard-color-get-app-banner-text: #e3e3e3;
  --bard-color-get-app-mobile-dialog-text: #fff;
  --bard-color-get-app-mobile-dialog-disclaimer: #e3e3e3;
  --bard-color-get-app-mobile-dialog-background: #14181d;
  --bard-color-get-app-qr-code-border: #fff;
  --bard-color-imagen-loading-gradient-step-1: rgba(22,22,23,0.2);
  --bard-color-imagen-loading-gradient-step-2: #1e1f20;
  --bard-color-imagen-loading-gradient-step-3: #35383b;
  --bard-color-imagen-selection-dialog-background: #202124;
  --bard-color-enterprise-disclaimer-encrypted: #8e4e00;
  --bard-color-enterprise-disclaimer-encrypted-background: #ffdcc1;
  --bard-color-planner-status-indicator-bar-error: #ec928e;
  --bard-color-planner-status-indicator-bar-warning: #ffb683;
  --bard-color-planner-status-indicator-bar-update: #7cacf8;
  --bard-color-resize-canvas-background: #041e49;
  --bard-color-immersive-editor-comment-selection: #5d4718;
  --bard-color-immersive-editor-comment-selection-focused: #835800;
  --bard-color-immersive-editor-user-selection: #36568d;
  --bard-color-immersive-learning-correct-background: var(--gem-sys-color--surface-container);
  --bard-color-immersive-learning-correct-border: #1aa64a;
  --bard-color-immersive-learning-incorrect-background: var(--gem-sys-color--surface-container);
  --bard-color-immersive-learning-incorrect-border: #f55e57;
  --bard-color-immersive-learning-answered-in-rehearsal-background: var(--gem-sys-color--surface-container);
  --bard-color-immersive-learning-answered-in-rehearsal-border: var(--gem-sys-color--secondary-fixed-dim);
  --bard-color-product-card-image-container-background: #fff;
  --bard-color-surface-dim-tmp: #000;
  --bard-color-sidenav-tile-background-aurora: #202424;
  --bard-color-sidenav-tile-text-aurora: #adb0bc;
  --bard-color-input-companion-button-hover-background: #32373c;
  --bard-color-input-companion-button-active-background: #383d45;
  --bard-color-synthetic--chat-window-surface: var(--gem-sys-color--surface);
  --bard-color-synthetic--mat-card-background: var(--gem-sys-color--surface-container);
  --bard-color-synthetic--chat-window-surface-container: var(--gem-sys-color--surface-container);
  --bard-color-synthetic--chat-window-surface-container-high: var(--gem-sys-color--surface-container-high);
  --bard-color-synthetic--chat-window-surface-container-highest: var(--gem-sys-color--surface-container-highest);

  --gem-sys-color--brand-blue: #3186ff;
  --gem-sys-color--brand-floaty-blue: #3186ff;
  --gem-sys-color--brand-green: #0ebc5f;
  --gem-sys-color--brand-red: #ff4641;
  --gem-sys-color--brand-transition-blue-1: #346bf1;
  --gem-sys-color--brand-transition-blue-2: #4fa0ff;
  --gem-sys-color--brand-transition-orange: #ff6b2b;
  --gem-sys-color--brand-transition-pink: #d8627e;
  --gem-sys-color--brand-transition-purple: #a975aa;
  --gem-sys-color--brand-transition-red: #fa506b;
  --gem-sys-color--brand-transition-teal: #00a5b7;
  --gem-sys-color--brand-yellow: #fc0;
  --gem-sys-color--error: #f2b8b5;
  --gem-sys-color--gems-blue-high: #60a9ed;
  --gem-sys-color--gems-blue-low: #003d64;
  --gem-sys-color--gems-cyan-high: #25b2d4;
  --gem-sys-color--gems-cyan-low: #00404e;
  --gem-sys-color--gems-grey-high: #a4a4a4;
  --gem-sys-color--gems-grey-low: #3a3a3a;
  --gem-sys-color--gems-orange-high: #ec8c4c;
  --gem-sys-color--gems-orange-low: #612b00;
  --gem-sys-color--gems-pink-high: #db8da7;
  --gem-sys-color--gems-pink-low: #60263d;
  --gem-sys-color--gems-purple-high: #c88ee1;
  --gem-sys-color--gems-purple-low: #55226e;
  --gem-sys-color--gems-teal-high: #00b6bc;
  --gem-sys-color--gems-teal-low: #004144;
  --gem-sys-color--gems-violet-high: #a299f3;
  --gem-sys-color--gems-violet-low: #372d80;
  --gem-sys-color--gems-yellow-high: #d89800;
  --gem-sys-color--gems-yellow-low: #4f3500;
  --gem-sys-color--image-stop: #35383b;
  --gem-sys-color--inverse-on-surface: #303030;
  --gem-sys-color--inverse-primary: #0b57d0;
  --gem-sys-color--inverse-surface: #e3e3e3;
  --gem-sys-color--on-error: #601410;
  --gem-sys-color--on-error-container: #f9dedc;
  --gem-sys-color--on-primary: #062e6f;
  --gem-sys-color--on-primary-container: #d3e3fd;
  --gem-sys-color--on-primary-container-emphasis-1: #bbc3ff;
  --gem-sys-color--on-primary-emphasis-1: #311f77;
  --gem-sys-color--on-primary-fixed: #041e49;
  --gem-sys-color--on-primary-fixed-variant: #0842a0;
  --gem-sys-color--on-secondary: #035;
  --gem-sys-color--on-secondary-container: #c2e7ff;
  --gem-sys-color--on-secondary-fixed: #001d35;
  --gem-sys-color--on-secondary-fixed-variant: #004a77;
  --gem-sys-color--on-surface: #e3e3e3;
  --gem-sys-color--on-surface-low: #9a9b9c;
  --gem-sys-color--on-surface-variant: #c4c7c5;
  --gem-sys-color--on-tertiary: #0a3818;
  --gem-sys-color--on-tertiary-container: #c4eed0;
  --gem-sys-color--on-tertiary-fixed: #072711;
  --gem-sys-color--on-tertiary-fixed-variant: #0f5223;
  --gem-sys-color--outline: #8e918f;
  --gem-sys-color--outline-gradient-stop-1: #b7a9e5;
  --gem-sys-color--outline-low: #444746;
  --gem-sys-color--outline-solid-1: #9f8edc;
  --gem-sys-color--outline-variant: #444746;
  --gem-sys-color--primary: #a8c7fa;
  --gem-sys-color--primary-container: #1f3760;
  --gem-sys-color--primary-container-emphasis-1: #4d34cf;
  --gem-sys-color--primary-container-emphasis-2: #9d8bff;
  --gem-sys-color--primary-emphasis-1: #888dff;
  --gem-sys-color--primary-emphasis-2: #b6bdff;
  --gem-sys-color--primary-fixed: #d3e3fd;
  --gem-sys-color--primary-fixed-dim: #a8c7fa;
  --gem-sys-color--scrim: #000;
  --gem-sys-color--secondary: #7fcfff;
  --gem-sys-color--secondary-container: #004a77;
  --gem-sys-color--secondary-container-emphasis-1: #4b3ba5;
  --gem-sys-color--secondary-container-emphasis-2: #7043c1;
  --gem-sys-color--secondary-emphasis-1: #e2eeff;
  --gem-sys-color--secondary-emphasis-2: #ecf1ff;
  --gem-sys-color--secondary-fixed: #c2e7ff;
  --gem-sys-color--secondary-fixed-dim: #7fcfff;
  --gem-sys-color--shadow: #000;
  --gem-sys-color--surface: #131314;
  --gem-sys-color--surface-bright: #1e1f20;
  --gem-sys-color--surface-container: #1e1f20;
  --gem-sys-color--surface-container-high: #282a2c;
  --gem-sys-color--surface-container-highest: #333537;
  --gem-sys-color--surface-container-low: #1b1b1b;
  --gem-sys-color--surface-container-lowest: #0e0e0e;
  --gem-sys-color--surface-dim: #131314;
  --gem-sys-color--surface-variant: #444746;
  --gem-sys-color--tertiary: #6dd58c;
  --gem-sys-color--tertiary-container: #0f5223;
  --gem-sys-color--tertiary-container-emphasis-1: #6f7aff;
  --gem-sys-color--tertiary-container-emphasis-2: #7297ff;
  --gem-sys-color--tertiary-emphasis-1: #a1a8ff;
  --gem-sys-color--tertiary-emphasis-2: #afc2ff;
  --gem-sys-color--tertiary-fixed: #c4eed0;
  --gem-sys-color--tertiary-fixed-dim: #6dd58c;
  --gem-sys-color--blue-high: #e7f2ff;
  --gem-sys-color--blue-low: #04409f;
  --gem-sys-color--blue-medium: #76acff;
  --gem-sys-color--blue-primary: #4e8ff8;
  --gem-sys-color--error-container: #601410;
  --gem-sys-color--green-high: #ddf8d8;
  --gem-sys-color--green-low: #00522c;
  --gem-sys-color--green-medium: #44c265;
  --gem-sys-color--green-primary: #1aa64a;
  --gem-sys-color--mic-gradient-stop-1: #ffaee4;
  --gem-sys-color--mic-gradient-stop-2: #ad72ff;
  --gem-sys-color--mic-gradient-stop-3: #c597ff;
  --gem-sys-color--orange-high: #ffede1;
  --gem-sys-color--orange-low: #753403;
  --gem-sys-color--orange-medium: #ff8d41;
  --gem-sys-color--orange-primary: #e86e00;
  --gem-sys-color--outline-gradient-stop-2: #fdf8ff;
  --gem-sys-color--outline-gradient-stop-3: #4c8df6;
  --gem-sys-color--outline-solid-2: #0b57d0;
  --gem-sys-color--outline-solid-3: #fff;
  --gem-sys-color--purple-high: #f7ecfe;
  --gem-sys-color--purple-low: #5629a4;
  --gem-sys-color--purple-medium: #c597ff;
  --gem-sys-color--purple-primary: #ad72ff;
  --gem-sys-color--red-high: #ffecee;
  --gem-sys-color--red-low: #8a1a16;
  --gem-sys-color--red-medium: #ff8983;
  --gem-sys-color--red-primary: #f55e57;
  --gem-sys-color--soft-glow-blue-1: #4c8df6;
  --gem-sys-color--soft-glow-blue-2: #3271ea;
  --gem-sys-color--soft-glow-pink-1: #ff7dd2;
  --gem-sys-color--soft-glow-pink-2: #b60d6e;
  --gem-sys-color--text-advanced-stop-high: #f55e57;
  --gem-sys-color--text-advanced-stop-low: #620438;
  --gem-sys-color--text-basic-stop-high: #3271ea;
  --gem-sys-color--text-basic-stop-low: #303030;
  --gem-sys-color--universal-stop: #5e5e5e;

  --gem-sys-motion--duration-extra-long1: 700ms;
  --gem-sys-motion--duration-extra-long2: 800ms;
  --gem-sys-motion--duration-extra-long3: 900ms;
  --gem-sys-motion--duration-extra-long4: 1000ms;
  --gem-sys-motion--duration-long1: 450ms;
  --gem-sys-motion--duration-long2: 500ms;
  --gem-sys-motion--duration-long3: 550ms;
  --gem-sys-motion--duration-long4: 600ms;
  --gem-sys-motion--duration-medium1: 250ms;
  --gem-sys-motion--duration-medium2: 300ms;
  --gem-sys-motion--duration-medium3: 350ms;
  --gem-sys-motion--duration-medium4: 400ms;
  --gem-sys-motion--duration-short1: 50ms;
  --gem-sys-motion--duration-short2: 100ms;
  --gem-sys-motion--duration-short3: 150ms;
  --gem-sys-motion--duration-short4: 200ms;
  --gem-sys-motion--easing-emphasized: cubic-bezier(0.2,0,0,1);
  --gem-sys-motion--easing-emphasized-accelerate: cubic-bezier(0.3,0,0.8,0.15);
  --gem-sys-motion--easing-emphasized-decelerate: cubic-bezier(0.05,0.7,0.1,1);
  --gem-sys-motion--easing-legacy: cubic-bezier(0.4,0,0.2,1);
  --gem-sys-motion--easing-legacy-accelerate: cubic-bezier(0.4,0,1,1);
  --gem-sys-motion--easing-legacy-decelerate: cubic-bezier(0,0,0.2,1);
  --gem-sys-motion--easing-linear: cubic-bezier(0,0,1,1);
  --gem-sys-motion--easing-standard: cubic-bezier(0.2,0,0,1);
  --gem-sys-motion--easing-standard-accelerate: cubic-bezier(0.3,0,1,1);
  --gem-sys-motion--easing-standard-decelerate: cubic-bezier(0,0,0,1);

  --gem-sys-shape--corner-extra-extra-large-increased: 48px;
  --gem-sys-shape--corner-extra-large: 28px;
  --gem-sys-shape--corner-extra-large-increased: 32px;
  --gem-sys-shape--corner-extra-large-max: 40px;
  --gem-sys-shape--corner-extra-large-top: 28px 28px 0px 0px;
  --gem-sys-shape--corner-extra-small: 4px;
  --gem-sys-shape--corner-extra-small-top: 4px 4px 0px 0px;
  --gem-sys-shape--corner-full: 9999px;
  --gem-sys-shape--corner-large: 16px;
  --gem-sys-shape--corner-large-increased: 20px;
  --gem-sys-shape--corner-large-max: 1.5rem;
  --gem-sys-shape--corner-large-end: 0px 16px 16px 0px;
  --gem-sys-shape--corner-large-start: 16px 0px 0px 16px;
  --gem-sys-shape--corner-large-top: 16px 16px 0px 0px;
  --gem-sys-shape--corner-medium: 12px;
  --gem-sys-shape--corner-none: 0px;
  --gem-sys-shape--corner-small: 8px;

  --gem-sys-spacing--l: 16px;
  --gem-sys-spacing--m: 12px;
  --gem-sys-spacing--s: 8px;
  --gem-sys-spacing--xl: 20px;
  --gem-sys-spacing--xs: 4px;
  --gem-sys-spacing--xxl: 24px;
  --gem-sys-spacing--xxxl: 28px;
}
