@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --sans: 'Google Sans Variable', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Google Sans Variable', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: var(--color-scheme, light dark);
  color: var(--color-text, #6b6375);
  background: var(--color-body, #fff);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  transition: background-color .25s, color .25s;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
}

kbd {
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  font-family: inherit;
  border-radius: 4px;
  min-width: 24px;
  text-align: center;
}
